* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 720px;
  /* background-color: black; */
}

.main-nav {
  display: inline;
  float: left;
  list-style: none;
  margin-top: 40px;
  margin-left: 70px;
}

.main-nav img {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  transform: translateX(-55px);
  margin-top: -12px;
}

.main-nav li {
  display: inline-flex;
  padding-right: 30px;
}
.main-nav li a {
  position: relative;
  /* border-radius: 20px; */
  /* background-color: rgba(10, 10, 10, 0.1); */
  color: rgb(47, 47, 47);
  text-decoration: none;
  padding: 5px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;

  background: #ffffff;
box-shadow:  17px 17px 60px #e6e6e6,
             -17px -17px 60px #ffffff;
  border-radius: 30px;
}

.main-nav li a:hover {
  transform: scale(1.05);
  backdrop-filter: unset;
  z-index: 1000;
  background-color: white;
  color: black;
}

.menuButton {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  color: #f3faa3;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media (max-width: 1000px) {
  .main-nav {
    display: none;
  }
  .menuButton {
    display: inline;
    float: left;
  }
}

@supports (-webkit-touch-callout: none) {
  .main-nav {
    display: none;
  }
  .menuButton {
    display: inline;
    float: left;
  }
  .overlay a {
    font-size: 72;
  }
}

@media (pointer: none), (pointer: coarse) {
  .main-nav {
    display: none;
  }
  .menuButton {
    display: inline;
    float: left;
  }
  .overlay a {
    font-size: 72;
  }
}

h10 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  background-color: #4343433a;
  margin-top: 15px;
  float: right;
  z-index: 1001;
}
h10:hover {
  cursor: pointer;
}
footer {
  padding-top: 100px;
  padding-bottom: 30px;
}

p2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: rgb(77, 77, 77);
}


#loader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgb(229,228,255);
  background: linear-gradient(90deg, rgba(229,228,255,1) 0%, rgba(255,224,211,1) 100%); 
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
